.noneSelection{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.noneUnderline,#langu{
	text-decoration: none;
}

#langu:hover{
	size: 10ch;
	color: #666666;
}

#langu{
	color: #000000;
}


#ptc {
	width: 90px;
	color: #ffffff;
	background: #000000;
	line-height: 20px;
	position: absolute;
	margin-top: 4px;
	opacity: 1;
	z-index: 99999;
}